<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>Eleco Teledrama</title>

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

    <!-- Favicon
  ================================================== -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- CSS
  ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/bootstrap.min.css}">
    <!-- FontAwesome -->
    <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/all.min.css}">
    <!-- Animation -->
    <link rel="stylesheet" th:href="@{/plugins/animate-css/animate.css}">
    <!-- slick Carousel -->
    <link rel="stylesheet" th:href="@{/plugins/slick/slick.css}">
    <link rel="stylesheet" th:href="@{/plugins/slick/slick-theme.css}">
    <!-- Colorbox -->
    <link rel="stylesheet" th:href="@{/plugins/colorbox/colorbox.css}">
    <!-- Template styles-->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>


<body>
    <div class="body-inner">
        <!--/ Topbar START -->

        <header th:replace="fragments/navbarGeneral.html :: navbarAdmi"></header>

        <!-- Header start -->

        <!--/ Header end -->

<!--        IMAGEN Referencial Start-->
        <div id="banner-area" class="banner-area" th:style="'background-image:url('+@{/images/banner/banner1.jpg}+')'">
            <div class="banner-text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-heading">
                                <h1 class="banner-title">Elenco TeleDrama</h1>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="#">Actores</a></li>
                                        <li class="breadcrumb-item"><a href="#">Directores</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div><!-- Col end -->
                    </div><!-- Row end -->
                </div><!-- Container end -->
            </div><!-- Banner text end -->
        </div><!-- Banner area end -->


        <section class="call-to-action-box no-padding">
            <div class="container">
                <div class="action-style-box">


                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-dark" type="button">Directores</button>
                            <button class="btn btn-dark" type="button">Actores</button>

                        </div>
                        <div class="input-group ">
                            <input type="search" class="form-control " placeholder="Nombre, correo ... " aria-label="Search" aria-describedby="search-addon" />
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>

                    </div>

                </div><!-- Action style box -->
            </div><!-- Container end -->
        </section><!-- Action end -->






        <section id="ts-team" class="ts-team">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <h3 class="section-sub-title">Lista de Directores</h3>
                    </div>
                </div><!--/ Title row end -->


                <div class="row">
                    <div class="col-lg-12">
                        <div id="team-slide" class="team-slide">
                            <div class="item">
                                <div class="ts-team-wrapper">
                                    <div class="team-img-wrapper">
                                        <img loading="lazy" class="w-100" th:src="@{/images/team/team1.jpg}" alt="team-img">
                                    </div>
                                    <div class="ts-team-content">
                                        <h3 class="ts-name">Nats Stenman</h3>
                                        <p class="ts-designation">Chief Operating Officer</p>
                                        <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
                                        <div class="team-social-icons">
                                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                                        </div><!--/ social-icons-->
                                    </div>
                                </div><!--/ Team wrapper end -->
                            </div><!-- Team 1 end -->

                            <div class="item">
                                <div class="ts-team-wrapper">
                                    <div class="team-img-wrapper">
                                        <img loading="lazy" class="w-100" th:src="@{/images/team/team2.jpg}" alt="team-img">
                                    </div>
                                    <div class="ts-team-content">
                                        <h3 class="ts-name">Angela Lyouer</h3>
                                        <p class="ts-designation">Innovation Officer</p>
                                        <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
                                        <div class="team-social-icons">
                                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                                        </div><!--/ social-icons-->
                                    </div>
                                </div><!--/ Team wrapper end -->
                            </div><!-- Team 2 end -->

                            <div class="item">
                                <div class="ts-team-wrapper">
                                    <div class="team-img-wrapper">
                                        <img loading="lazy" class="w-100" th:src="@{/images/team/team4.jpg}" alt="team-img">
                                    </div>
                                    <div class="ts-team-content">
                                        <h3 class="ts-name">Mark Conter</h3>
                                        <p class="ts-designation">Safety Officer</p>
                                        <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
                                        <div class="team-social-icons">
                                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                                        </div><!--/ social-icons-->
                                    </div>
                                </div><!--/ Team wrapper end -->
                            </div><!-- Team 3 end -->

                            <div class="item">
                                <div class="ts-team-wrapper">
                                    <div class="team-img-wrapper">
                                        <img loading="lazy" class="w-100" th:src="@{/images/team/team5.jpg}" alt="team-img">
                                    </div>
                                    <div class="ts-team-content">
                                        <h3 class="ts-name">Ayesha Stewart</h3>
                                        <p class="ts-designation">Finance Officer</p>
                                        <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
                                        <div class="team-social-icons">
                                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                                        </div><!--/ social-icons-->
                                    </div>
                                </div><!--/ Team wrapper end -->
                            </div><!-- Team 4 end -->

                        </div><!-- Team slide end -->
                    </div>
                </div><!--/ Content row end -->


                <div class="row">
                    <div class="col-lg-12">
                        <div id="team-slide1" class="team-slide">
                            <div class="item">
                                <div class="ts-team-wrapper">
                                    <div class="team-img-wrapper">
                                        <img loading="lazy" class="w-100" th:src="@{/images/team/team1.jpg}" alt="team-img">
                                    </div>
                                    <div class="ts-team-content">
                                        <h3 class="ts-name">Nats Stenman</h3>
                                        <p class="ts-designation">Chief Operating Officer</p>
                                        <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
                                        <div class="team-social-icons">
                                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                                        </div><!--/ social-icons-->
                                    </div>
                                </div><!--/ Team wrapper end -->
                            </div><!-- Team 1 end -->

                            <div class="item">
                                <div class="ts-team-wrapper">
                                    <div class="team-img-wrapper">
                                        <img loading="lazy" class="w-100" th:src="@{/images/team/team2.jpg}" alt="team-img">
                                    </div>
                                    <div class="ts-team-content">
                                        <h3 class="ts-name">Angela Lyouer</h3>
                                        <p class="ts-designation">Innovation Officer</p>
                                        <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
                                        <div class="team-social-icons">
                                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                                        </div><!--/ social-icons-->
                                    </div>
                                </div><!--/ Team wrapper end -->
                            </div><!-- Team 2 end -->

                            <div class="item">
                                <div class="ts-team-wrapper">
                                    <div class="team-img-wrapper">
                                        <img loading="lazy" class="w-100" th:src="@{/images/team/team4.jpg}" alt="team-img">
                                    </div>
                                    <div class="ts-team-content">
                                        <h3 class="ts-name">Mark Conter</h3>
                                        <p class="ts-designation">Safety Officer</p>
                                        <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
                                        <div class="team-social-icons">
                                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                                        </div><!--/ social-icons-->
                                    </div>
                                </div><!--/ Team wrapper end -->
                            </div><!-- Team 3 end -->

                            <div class="item">
                                <div class="ts-team-wrapper">
                                    <div class="team-img-wrapper">
                                        <img loading="lazy" class="w-100" th:src="@{/images/team/team5.jpg}" alt="team-img">
                                    </div>
                                    <div class="ts-team-content">
                                        <h3 class="ts-name">Ayesha Stewart</h3>
                                        <p class="ts-designation">Finance Officer</p>
                                        <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
                                        <div class="team-social-icons">
                                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                                        </div><!--/ social-icons-->
                                    </div>
                                </div><!--/ Team wrapper end -->
                            </div><!-- Team 4 end -->

                        </div><!-- Team slide end -->
                    </div>
                </div><!--/ Content row end -->


                <div class="row">
                    <div class="col-lg-12">
                        <div id="team-slide2" class="team-slide">
                            <div class="item">
                                <div class="ts-team-wrapper">
                                    <div class="team-img-wrapper">
                                        <img loading="lazy" class="w-100" th:src="@{/images/team/team1.jpg}" alt="team-img">
                                    </div>
                                    <div class="ts-team-content">
                                        <h3 class="ts-name">Nats Stenman</h3>
                                        <p class="ts-designation">Chief Operating Officer</p>
                                        <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
                                        <div class="team-social-icons">
                                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                                        </div><!--/ social-icons-->
                                    </div>
                                </div><!--/ Team wrapper end -->
                            </div><!-- Team 1 end -->

                            <div class="item">
                                <div class="ts-team-wrapper">
                                    <div class="team-img-wrapper">
                                        <img loading="lazy" class="w-100" th:src="@{/images/team/team2.jpg}" alt="team-img">
                                    </div>
                                    <div class="ts-team-content">
                                        <h3 class="ts-name">Angela Lyouer</h3>
                                        <p class="ts-designation">Innovation Officer</p>
                                        <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
                                        <div class="team-social-icons">
                                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                                        </div><!--/ social-icons-->
                                    </div>
                                </div><!--/ Team wrapper end -->
                            </div><!-- Team 2 end -->

                            <div class="item">
                                <div class="ts-team-wrapper">
                                    <div class="team-img-wrapper">
                                        <img loading="lazy" class="w-100" th:src="@{/images/team/team4.jpg}" alt="team-img">
                                    </div>
                                    <div class="ts-team-content">
                                        <h3 class="ts-name">Mark Conter</h3>
                                        <p class="ts-designation">Safety Officer</p>
                                        <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
                                        <div class="team-social-icons">
                                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                                        </div><!--/ social-icons-->
                                    </div>
                                </div><!--/ Team wrapper end -->
                            </div><!-- Team 3 end -->

                            <div class="item">
                                <div class="ts-team-wrapper">
                                    <div class="team-img-wrapper">
                                        <img loading="lazy" class="w-100" th:src="@{/images/team/team5.jpg}" alt="team-img">
                                    </div>
                                    <div class="ts-team-content">
                                        <h3 class="ts-name">Ayesha Stewart</h3>
                                        <p class="ts-designation">Finance Officer</p>
                                        <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p>
                                        <div class="team-social-icons">
                                            <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                                        </div><!--/ social-icons-->
                                    </div>
                                </div><!--/ Team wrapper end -->
                            </div><!-- Team 4 end -->

                        </div><!-- Team slide end -->
                    </div>
                </div><!--/ Content row end -->


                <div id="back-to-top"  class="back-to-top position-fixed" style="display: block;">
<!--                    <button class="btn btn-primary">-->
<!--                        <i class="fa fa-angle-double-up"></i>-->
<!--                    </button>-->
                    <button class="btn btn-primary " type="button">+</button>
                </div>




            </div><!--/ Container end -->
        </section><!--/ Team end -->


        <!-- Javascript Files
        ================================================== -->

        <!-- initialize jQuery Library -->
        <script th:src="@{plugins/jQuery/jquery.min.js}"></script>
        <!-- Bootstrap jQuery -->
        <script th:src="@{plugins/bootstrap/bootstrap.min.js}" defer></script>
        <!-- Slick Carousel -->
        <script th:src="@{plugins/slick/slick.min.js}"></script>
        <script th:src="@{plugins/slick/slick-animation.min.js}"></script>
        <!-- Color box -->
        <script th:src="@{plugins/colorbox/jquery.colorbox.js}"></script>
        <!-- shuffle -->
        <script th:src="@{plugins/shuffle/shuffle.min.js}" defer></script>
        <!-- Google Map API Key-->
        <script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU}" defer></script>
        <!-- Google Map Plugin-->
        <script th:src="@{plugins/google-map/map.js}" defer></script>

        <!-- Template custom -->
        <script th:src="@{js/script.js}"></script>



    </div><!-- Body inner end -->
</body>

</html>