<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <title>Constra - Construction Html5 Template</title>

  <!-- Mobile Specific Metas
================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <!-- Favicon
================================================== -->
  <link rel="icon" type="image/png" th:href="@{images/favicon.png}">

  <!-- CSS
================================================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" th:href="@{plugins/bootstrap/bootstrap.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- FontAwesome -->
  <link rel="stylesheet" th:href="@{plugins/fontawesome/css/all.min.css}">
  <!-- Animation -->
  <link rel="stylesheet" th:href="@{plugins/animate-css/animate.css}">
  <!-- slick Carousel -->
  <link rel="stylesheet" th:href="@{plugins/slick/slick.css}">
  <link rel="stylesheet" th:href="@{plugins/slick/slick-theme.css}">
  <!-- Colorbox -->
  <link rel="stylesheet" th:href="@{static/plugins/colorbox/colorbox.css}">
  <!-- Template styles-->
    <link rel="stylesheet" th:href="@{assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{assets/css/templatemo-edu-meeting.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.css}">
    <link rel="stylesheet" th:href="@{assets/css/lightbox.css}">

    <link rel="stylesheet" th:href="@{css/style.css}">
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

</head>
<body>
<!-- Header start -->
<header th:replace="fragments/navbarGeneral.html :: navbarCLienteSL"></header>
<!--/ Header end -->
<div class="banner-carousel banner-carousel-1 mb-0">

  <div class="banner-carousel-item slick-slide"  th:style="| background-image:url(@{images/slider-main/bg5.jpg})|">
    <div class="slider-content">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12 text-center">
                <h2 class="slide-title" data-animation-in="slideInLeft">17 Years of excellence in</h2>
                <h3 class="slide-sub-title" data-animation-in="slideInRight">Construction Industry</h3>
                <p data-animation-in="slideInLeft" data-duration-in="1.2">
                    <a href="services.html" class="slider btn btn-warning">Our Services</a>
                    <a href="contact.html" class="slider btn btn-warning border text-white">Contact Now</a>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" th:style="| background-image:url(@{images/slider-main/bg2.jpg})|">
    <div class="slider-content text-left">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <h2 class="slide-title-box" data-animation-in="slideInDown">World Class Service</h2>
                <h3 class="slide-title" data-animation-in="fadeIn">When Service Matters</h3>
                <h3 class="slide-sub-title" data-animation-in="slideInLeft">Your Choice is Simple</h3>
                <p data-animation-in="slideInRight">
                    <a href="services.html" class="slider btn btn-warning border text-white">Our Services</a>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" th:style="| background-image:url(@{images/slider-main/bg3.jpg})|">
    <div class="slider-content text-right">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <h2 class="slide-title" data-animation-in="slideInDown">Meet Our Engineers</h2>
                <h3 class="slide-sub-title" data-animation-in="fadeIn">We believe sustainability</h3>
                <p class="slider-description lead" data-animation-in="slideInRight">We will deal with your failure that determines how you achieve success.</p>
                <div data-animation-in="slideInLeft">
                    <a href="contact.html" class="slider btn btn-warning" aria-label="contact-with-us">Get Free Quote</a>
                    <a href="about.html" class="slider btn btn-primary border" aria-label="learn-more-about-us">Learn more</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>

    <div class="banner-carousel-item" th:style="| background-image:url(@{images/slider-main/bg4.jpg})|">
        <div class="slider-content text-right">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-md-12">
                        <h2 class="slide-title" data-animation-in="slideInDown">Meet Our Engineers</h2>
                        <h3 class="slide-sub-title" data-animation-in="fadeIn">We believe sustainability</h3>
                        <p class="slider-description lead" data-animation-in="slideInRight">We will deal with your failure that determines how you achieve success.</p>
                        <div data-animation-in="slideInLeft">
                            <a href="contact.html" class="slider btn btn-warning" aria-label="contact-with-us">Get Free Quote</a>
                            <a href="about.html" class="slider btn btn-primary border" aria-label="learn-more-about-us">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="call-to-action-box no-padding">
    <div class="container-fluid btn-warning mb-0" style="padding: 35px;">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3">
                                <option selected="">Género</option>
                                <option value="1">Drama</option>
                                <option value="2">Musical</option>
                                <option value="3">Romance</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3">
                                <option selected="">Teatro</option>
                                <option value="1">Teatro 1</option>
                                <option value="2">Teatro 2</option>
                                <option value="3">Teatro 3</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3">
                                <option selected="">Fechas próximas</option>
                                <option value="1">Fecha 1</option>
                                <option value="2">Fecha 2</option>
                                <option value="3">Fecha 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-dark border-0 w-100 py-3">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</section><!-- Action end -->

    <section class="our-courses pt-5 pb-5" id="courses">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Obras más vistas</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="owl-courses-item owl-carousel">
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                    </div>
                </div>
                <div class="col-lg-12 mt-4">
                    <div class="section-heading">
                        <h2>Obras mejor puntuadas</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="owl-courses-item owl-carousel">
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                    </div>
                </div>
                <div class="col-lg-12 mt-4">
                    <div class="section-heading">
                        <h2>Obras más próximas</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="owl-courses-item owl-carousel">
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                        <div class="item shuffle-item" data-groups="[&quot;government&quot;,&quot;healthcare&quot;]">
                            <div class="project-img-container">
                                <a class="gallery-popup" th:href="@{images/projects/project1.jpg}" aria-label="project-img">
                                    <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h4 class="project-item-title my-2 text-center">
                                            <button type="button" class="btn btn-warning mb-2 px-4" style="border-color: white" data-bs-toggle="modal" data-bs-target="#ventanaModal">Ver detalles</button>
                                            <button class="btn btn-warning" style="border-color: white" th:href="@{/carrito}">Añadir a carrito</button>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- shuffle item 1 end -->
                    </div>
                </div>
            </div>
        </div>
    </section>


  <footer id="footer" style="margin-top: 0px;" class="footer bg-overlay">
    <div class="footer-main">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-6 footer-widget footer-about">
            <h3 class="widget-title">About Us</h3>
            <img loading="lazy" width="200px" class="footer-logo" th:src="@{images/footer-logo.png}" alt="Constra">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut
              labore et dolore magna aliqua.</p>
            <div class="footer-social">
              <ul>
                <li><a href="https://facebook.com/themefisher" aria-label="Facebook"><i
                      class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/themefisher" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                </li>
                <li><a href="https://instagram.com/themefisher" aria-label="Instagram"><i
                      class="fab fa-instagram"></i></a></li>
                <li><a href="https://github.com/themefisher" aria-label="Github"><i class="fab fa-github"></i></a></li>
              </ul>
            </div><!-- Footer social end -->
          </div><!-- Col end -->

          <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
            <h3 class="widget-title">Working Hours</h3>
            <div class="working-hours">
              We work 7 days a week, every day excluding major holidays. Contact us if you have an emergency, with our
              Hotline and Contact form.
              <br><br> Monday - Friday: <span class="text-right">10:00 - 16:00 </span>
              <br> Saturday: <span class="text-right">12:00 - 15:00</span>
              <br> Sunday and holidays: <span class="text-right">09:00 - 12:00</span>
            </div>
          </div><!-- Col end -->

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
            <h3 class="widget-title">Services</h3>
            <ul class="list-arrow">
              <li><a href="service-single.html">Pre-Construction</a></li>
              <li><a href="service-single.html">General Contracting</a></li>
              <li><a href="service-single.html">Construction Management</a></li>
              <li><a href="service-single.html">Design and Build</a></li>
              <li><a href="service-single.html">Self-Perform Construction</a></li>
            </ul>
          </div><!-- Col end -->
        </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Footer main end -->

    <div class="copyright">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="copyright-info text-center text-md-left">
              <span>Copyright &copy; <script>
                  document.write(new Date().getFullYear())
                </script>, Designed &amp; Developed by <a href="https://themefisher.com">Themefisher</a></span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="footer-menu text-center text-md-right">
              <ul class="list-unstyled">
                <li><a href="about.html">About</a></li>
                <li><a href="team.html">Our people</a></li>
                <li><a href="faq.html">Faq</a></li>
                <li><a href="news-left-sidebar.html">Blog</a></li>
                <li><a href="pricing.html">Pricing</a></li>
              </ul>
            </div>
          </div>
        </div><!-- Row end -->

        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
          <button class="btn btn-primary" title="Back to Top">
            <i class="fa fa-angle-double-up"></i>
          </button>
        </div>

      </div><!-- Container end -->
    </div><!-- Copyright end -->
  </footer><!-- Footer end -->

    <div class="modal fade" id="ventanaModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Escoge un horario y sede</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-6">
                            <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                            <div class="col mt-2">
                                <select class="form-select border-0 py-3">
                                    <option selected="">Fechas próximas</option>
                                    <option value="1">Fecha 1</option>
                                    <option value="2">Fecha 2</option>
                                    <option value="3">Fecha 3</option>
                                </select>
                            </div>
                            <div class="col mt-2">
                                <select class="form-select border-0 py-3">
                                    <option selected="">Teatro</option>
                                    <option value="1">Teatro 1</option>
                                    <option value="2">Teatro 2</option>
                                    <option value="3">Teatro 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="accordion accordion-group accordion-classic" id="construction-accordion">
                                <div class="card">
                                    <div class="card-header p-0 bg-transparent" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                               Teatro 1
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#construction-accordion" style="">
                                        <div class="card-body">
                                            <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#tickets">10:45</button>
                                            <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#tickets">14:45</button>
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tickets">18:30</button>
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tickets">22:40</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-0 bg-transparent" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Teatro 2
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#construction-accordion" style="">
                                        <div class="card-body">
                                            <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#tickets">10:45</button>
                                            <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#tickets">14:45</button>
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tickets">18:30</button>
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tickets">22:40</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-0 bg-transparent" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                               Teatro 3
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#construction-accordion" style="">
                                        <div class="card-body">
                                            <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#tickets">10:45</button>
                                            <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#tickets">14:45</button>
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tickets">18:30</button>
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#tickets">22:40</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tickets" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitles">Escoge cantidad de tickets</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-6">
                            <img class="img-fluid" th:src="@{images/projects/project1.jpg}" alt="project-img">
                            <h6 class="mt-3">Obra: Mamma Mia</h6>
                            <h6>Teatro: Teatro 1</h6>
                            <h6>Fecha: 17 de abril</h6>
                            <h6>Hora: 14:45 p.m</h6>
                        </div>
                        <div class="col-6">
                            <h6>Stock: 2</h6>
                            <h6>Cantidad de tickets</h6>
                            <div class="text-center">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                        class="minus ">-</button>
                                <input class="quantity text-center" min="1" max="6"
                                       name="cant" readonly
                                       value="5"
                                       type="number">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                        class="plus">+</button>
                            </div>
                            <button type="button" class="btn btn-primary mt-4">Añadir a carrito</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  <!-- Javascript Files
   <!-- Javascript Files
        ================================================== -->
    <!-- initialize jQuery Library -->
    <script th:src="@{plugins/jQuery/jquery.min.js}"></script>
    <!-- Bootstrap jQuery -->
    <script th:src="@{plugins/bootstrap/bootstrap.min.js}" defer></script>
    <!-- Slick Carousel -->
    <script th:src="@{plugins/slick/slick.min.js}"></script>
    <script th:src="@{plugins/slick/slick-animation.min.js}"></script>
    <!-- Color box -->
    <script th:src="@{plugins/colorbox/jquery.colorbox.js}"></script>
    <!-- shuffle -->
    <script th:src="@{plugins/shuffle/shuffle.min.js}" defer></script>


    <!-- Google Map API Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"
            defer></script>
    <!-- Google Map Plugin-->
    <script th:src="@{plugins/google-map/map.js}" defer></script>

    <!-- Template custom -->
    <script th:src="@{js/script.js}"></script>
    <script th:src="@{js/dashboard-operador.js}"></script>

    <!-- Template custom -->
    <script th:src="@{js/script.js}"></script>
    <script th:src="@{assets/js/isotope.min.js}"></script>
    <script th:src="@{assets/js/owl-carousel.js}"></script>
    <script th:src="@{assets/js/lightbox.js}"></script>
    <script th:src="@{assets/js/tabs.js}"></script>
    <script th:src="@{assets/js/video.js}"></script>
    <script th:src="@{assets/js/slick-slider.js}"></script>
    <script th:src="@{assets/js/custom.js}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
            var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $('body, html').animate({
                        scrollTop: reqSectionPos
                    },
                    800);
            } else {
                $('body, html').scrollTop(reqSectionPos);
            }

        };

        var checkSection = function checkSection() {
            $('.section').each(function () {
                var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').siblings().removeClass('active');
                }
            });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
            e.preventDefault();
            showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
            checkSection();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    </div><!-- Body inner end -->
  </body>

  </html>